/.vscode
/base46
/blink
/lazy
/mason
/nvnotify1
/lazy-lock.json
/telescope_history

/lua/plugins/dev

/lua/configs/enabled_languages.lua

# Transfer.nvim configuration directory
.nvim/
/.description
.jj
